server:
  address: 0.0.0.0
  port: 8060

spring:
  application:
    name: llmproxy
  datasource:
    # 使用环境变量，如果环境变量不存在，则使用默认值
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:model_service_new}?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:123456}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  cache:
    redis:
      key-prefix: llm_proxy
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      database: ${REDIS_DATABASE:0}
      password: ${REDIS_PASSWORD:}
    mongodb:
      uri: ${MONGODB_URI:mongodb://llmproxy:llmproxy@localhost:27017/llm-proxy?authSource=admin}
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USERNAME:llmproxy}
    password: ${RABBIT_PASSWORD:llmproxy}
    virtual-host: ${RABBIT_VHOST:/llm-proxy}
    # 开启 publisher-confirms 确保消息成功发送到交换机
    publisher-confirm-type: correlated
#  cache:
#    type: caffeine # 指定缓存类型
#    cache-names: api-keys # 预定义缓存名称
#    caffeine:
#      spec: maximumSize=1000,expireAfterWrite=15m # 最多缓存1000个key，写入15分钟后过期

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml # ???XML??
  global-config:
    db-config:
      id-type: auto # ID??
      # logic-delete-field: deleted # ????????????
      # logic-delete-value: 1 # ?????????
      # logic-not-delete-value: 0 # ??????????
  configuration:
    map-underscore-to-camel-case: true # ????????
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # ??SQL

# JWT ??
jwt:
  secret: SecretKeyForHS256wduiwehgiulawefbuijfwebdiulfbWEILU # 不够长会报错
  expiration: 315360000 # 86400
  header: Authorization
  token-prefix: "Bearer "

logging:
  level:
    com.example.llmproxy: debug # ???????
    org.springframework.security: debug # ?? Spring Security ??
